nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    position: relative;
    border: solid black 1px;
}

.menu-left {
    border: solid black 1px;
    width: 48.1%;
}

.menu-left ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.menu-right {
    border: solid black 1px;
    width: 48%;
}

.br {
    border: solid black 1px;
    width: 3.9%;
}

