@import "fonts.css";

/*@media screen and (min-width: 1440px) {*/

    /*Tamanho de toda estrutura do topo*/
    .menu-area {
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: row;
        background-color: #ffffff;
        align-items: center;
        justify-content: center;
    }

    .menu-left {
        width: 48.1%;
        background-color: #ffffff;
    }

    .br-area {
        width: 3.9%;
        height: 56.6%;
        background-color: #d0021b;
        border-radius: 56.6%;
    }

    .menu-right {
        justify-content: right;
        width: 48%;
        display: inline;
    }

    .br {
        width: 47.6%;
        height: 31.8%;
        font-family: Baskerville;
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 0.9;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }

    .menu-left ul {
        list-style: none;
        padding: 0;
        margin: 0;
        align-items: center;
        justify-content: center;
    }

    .menu-left ul li {
        display: inline;
        font-family: Baskerville;
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
    }

    .home {
        width: 0.5%;
        height: 0.1%;
        color: #d0021b;
        margin-left: 4.2%;
        padding: 0;
    }

    .men {
        width: 2.4%;
        height: 20%;
        color: #000000;
        margin-left: 8.1%;
    }

    .women {
        width: 4%;
        height: 20%;
        color: #000000;
        margin-left: 78.2px;
    }

    .style-acessories {
        width: 9.7%;
        height: 20%;
        color: #000000;
        margin-left: 78.2px;
    }
/*}*/