nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    position: relative;
    border: solid black 1px;
}

.menu-left {
    width: 48.1%;
}

.menu-left ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.menu-left ul li {
    font-family: Baskerville;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
}

.menu-right {
    width: 48%;
}

.br {
    width: 3.9%;
}

.home {
    width: 46px;
    height: 20px;
    padding-left: 4.2%;
}

