@import "menu.css";

.home-page {
    width: 1440px;
    height: 5994px;
    background-color: #ffffff;
    margin: 0 auto;
    position: relative;
}

.rectangle {
    width: 1440px;
    height: 16px;
    background-color: #ffffff;
    position: relative;
    top: 100px;
}

.header-area {
    position: relative;
}

.header-image {
    width: 980px;
    height: 676px;
    position: absolute;
    z-index: -1;
    top: 13px;
    left: 60px;
}

.collection {
    width: 1040px;
    height: 192px;
    top: 214px;
    left: 331px;
    right: 69px;
    position: absolute;
}

.arts-lifestyle {
    width: 157px;
    height: 23px;
    font-family: Karma-SemiBold;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #b74f84;
    top: 18px;
    left: 511px;
    right: 372px;
    bottom: 151px;
    position: absolute;
}

.find-your-voice-fin {
    width: 369px;
    height: 126px;
    font-family: Baskerville;
    font-size: 55px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #3b3b3b;
    top: 55px;
    bottom: 11px;
    left: 504px;
    right: 167px;
    position: absolute;
}

.view-collection {
    width: 164px;
    height: 32px;
    font-family: FreightTextBook;
    font-size: 25px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #3b3b3b;
    position: absolute;
    top: 436px;
    left: 1062px;
    right: 32px;
}

.circle-filled {
    width: 8px;
    height: 8px;
    background-color: #d56397;
    position: absolute;
    top: 717px;
    left: 700px;
    right: 732px;
    border-radius: 8px;
}

.circle01 {
    width: 6px;
    height: 6px;
    background-color: #d5d5d5;
    position: absolute;
    border-radius: 6px;
    top: 718px;
    left: 714px;
    right: 720px;
}

.circle02 {
    width: 6px;
    height: 6px;
    background-color: #d5d5d5;
    position: absolute;
    border-radius: 6px;
    top: 718px;
    left: 725px;
    right: 709px;
}

.circle03 {
    width: 6px;
    height: 6px;
    background-color: #d5d5d5;
    position: absolute;
    border-radius: 6px;
    top: 718px;
    left: 734px;
    right: 700px;
}

.discover-latest {
    width: 277px;
    height: 51px;
    font-family: Baskerville;
    font-size: 45px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #d0021b;
    top: 786px;
    left: 582px;
    right: 581px;
    position: absolute;
}

.explore-and-browse {
    width: 444px;
    height: 32px;
    font-family: FreightTextBook;
    font-size: 25px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #666666;
    top: 846px;
    left: 498px;
    right: 498px;
    position: absolute;
}

.square-discover-latest {
    display: flex;
    flex-direction: row;
}

.fashion-square {
    top: 911px;
    margin-left: 60px;
    position: absolute;
}

.arts-square {
    top: 910px;
    left: 520px;
    position: absolute;
}

.travel-square {
    top: 910px;
    left: 980px;
    position: absolute;
}

.yellow-grade {
    background-image: radial-gradient(ellipse farthest-corner at -80% 100%, #f8e71c 0%, #f8e71c 75%, #ffffff 70%);
    color: black;
    width: 1440px;
    height: 195.5px;
    display: block;
    text-align: center;
    line-height: 50px;
    position: absolute;
    z-index: -1;
    top: 1118px;
}

.fashion {
    width: 78px;
    height: 23px;
    font-family: Karma-SemiBold;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #b74f84;
    float: left;
    position: absolute;
    top: 1352px;
    left: 61px;
}

.arts-a-lifestyle {
    width: 168px;
    height: 23px;
    font-family: Karma-SemiBold;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #37bd9f;
    float: left;
    position: absolute;
    top: 1352px;
    left: 519px;
}

.travel {
    width: 66px;
    height: 23px;
    font-family: Karma-SemiBold;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #4fb759;
    float: left;
    position: absolute;
    top: 1352px;
    left: 979px;
}

.jeanne-moreaus-best {
    width: 400px;
    height: 68px;
    font-family: Baskerville;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #3b3b3b;
    float: left;
    position: absolute;
    top: 1378px;
    left: 59px;
}

.arundhati-roy-why-h {
    width: 400px;
    height: 68px;
    font-family: Baskerville;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #3b3b3b;
    float: left;
    position: absolute;
    top: 1378px;
    left: 519px;
}

.going-solo-a-girls {
    width: 400px;
    height: 68px;
    font-family: Baskerville;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #3b3b3b;
    float: left;
    position: absolute;
    top: 1378px;
    left: 979px;
}

.as-it-is-announced-t {
    width: 400px;
    height: 75px;
    font-family: FreightTextBook;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #666666;
    float: left;
    position: absolute;
    top: 1459px;
    left: 59px;
}

.twenty-years-ago-ar {
    width: 400px;
    height: 75px;
    font-family: FreightTextBook;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #666666;
    float: left;
    position: absolute;
    top: 1459px;
    left: 519px;
}

.theres-something-in {
    width: 400px;
    height: 75px;
    font-family: FreightTextBook;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #666666;
    float: left;
    position: absolute;
    top: 1459px;
    left: 979px;
}

.read-more {
    width: 110px;
    height: 32px;
    font-family: FreightTextBook;
    font-size: 25px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #3b3b3b;
    float: left;
    position: absolute;
    left: 299px;
    top: 1565px;
}

.read-more-2 {
    width: 110px;
    height: 32px;
    font-family: FreightTextBook;
    font-size: 25px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #3b3b3b;
    float: left;
    position: absolute;
    left: 763px;
    top: 1565px;
}

.read-more-3 {
    width: 110px;
    height: 32px;
    font-family: FreightTextBook;
    font-size: 25px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #3b3b3b;
    float: left;
    position: absolute;
    left: 1218px;
    top: 1565px;
}

.major-signal {
    width: 8.9px;
    height: 14.8px;
    position: absolute;
    top: 1574.2px;
    left: 420.1px;
}

.major-signal-2 {
    width: 8.9px;
    height: 14.8px;
    position: absolute;
    top: 1574.2px;
    left: 884.1px;
}

.major-signal-3 {
    width: 8.9px;
    height: 14.8px;
    position: absolute;
    top: 1574.2px;
    left: 1339.1px;
}

.line {
    width: 399px;
    height: 3px;
    border: solid 1px #b74f84;
    background-color: #b74f84;
    float: left;
    position: absolute;
    top: 1620px;
    left: 60px;
}

.line-2 {
    width: 401px;
    height: 3px;
    border: solid 1px #37bd9f;
    background-color: #37bd9f;
    margin-top: 22px;
    margin-right: 60px;
    float: left;
    position: absolute;
    top: 1619px;
    left: 60px;
}

.line-3 {
    width: 400px;
    height: 3px;
    border: solid 1px #4fb759;
    background-color: #4fb759;
    margin-top: 22px;
    float: left;
}

.orange-image-area {
    position: relative;
}

.orange-image {
    width: 1440px;
    height: 707px;
    margin-top: 413.5px;
}

.orange-image img {
    position: absolute;
}

.things-to-eat {
    width: 134px;
    height: 23px;
    font-family: Karma-SemiBold;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    top: 196px;
    left: 939.5px;
    right: 366.5px;
    position: absolute;
}

.food-for-thought {
    width: 405px;
    height: 63px;
    font-family: Baskerville;
    font-size: 54px;
    /*font-size: 55px;*/
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    top: 238px;
    left: 804px;
    right: 231px;
    position: absolute;
}

.this-vegetarian-stal {
    width: 428px;
    height: 50px;
    font-family: FreightTextBook;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    top: 316px;
    left: 804px;
    position: absolute;
}

.photos {
    width: 71px;
    height: 23px;
    font-family: FreightTextBook;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    top: 391px;
    left: 988px;
    right: 381px;
    position: absolute;
}

.rectangle-2 {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    border: solid 1px #ffffff;
    top: 394px;
    left: 955px;
    right: 469px;
    position: absolute;
}

.rectangle-3 {
    width: 16px;
    height: 16px;
    opacity: 0.52;
    border-radius: 3px;
    border: solid 1px #ffffff;
    top: 398px;
    left: 960px;
    right: 464px;
    position: absolute;
}

.read-more-4 {
    width: 111px;
    height: 32px;
    font-family: FreightTextBook;
    font-size: 25px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    top: 484px;
    left: 909.5px;
    right: 419.5px;
    position: absolute;
}

.line-4 {
    width: 406px;
    height: 3px;
    border: solid 1px #ffffff;
    background-color: #ffffff;
    position: absolute;
    top: 538px;
    left: 663px;
    right: 371px;
}

