@import "../css/fonts.css";

@media screen and (min-width: 1440px) {

    /*Tamanho de toda estrutura do topo*/
    .menu-area {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        background-color: #ffffff;
        align-items: center;
        margin: 0 auto;

        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
    }

    .menu-left {
        width: 48.1%;
        background-color: #ffffff;
        display: flex;
        justify-content: flex-start;
    }

    .br-area {
        width: 3.9%;
        height: 56.6%;
        background-color: #d0021b;
        border-radius: 56.6%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-right {
        width: 48%;
        background-color: #ffffff;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-align: center;
        color: #3b3b3b;
    }

    .br {
        width: 47.6%;
        height: 31.8%;
        font-family: Baskerville;
        font-size: 20px;
        line-height: 0.9;
        text-align: center;
        color: #ffffff;
        margin-left: auto;
        margin-right: auto;
    }

    .menu-left ul {
        list-style: none;
        padding: 0;
    }

    .menu-left ul li {
        display: inline;
        font-family: Baskerville;
        font-size: 18px;
        text-align: center;
    }

    .home {
        width: 46px;
        height: 20px;
        margin-left: 60px;
    }

    .men {
        width: 35px;
        height: 20px;
        color: #000000;
        margin-left: 116.2px;
    }

    .women {
        width: 57px;
        height: 20px;
        color: #000000;
        margin-left: 78.2px;
    }

    .style-acessories {
        width: 139px;
        height: 20px;
        color: #000000;
        margin-left: 78.2px;
    }

    .user {
        width: 12px;
        height: 12px;
        margin-right: 16px;
    }

    .my-account {
        width: 95.8px;
        height: 23px;
        font-family: FreightTextBook;
        font-size: 18px;
        margin-right: 46.2px;
    }

    .heart-area {
        width: 18px;
        height: 18px;
        border: solid 0.5px #000000;
        border-radius: 30px;
        margin-right: 18px;
    }

    .heart {
        width: 8.7px;
        height: 8.4px;
        margin: 0 auto;
    }

    .saved-items {
        width: 88.8px;
        height: 20px;
        font-family: Baskerville;
        font-size: 18px;
        margin-right: 46.3px;
    }

    .cart-area {
        width: 28.4px;
        height: 28.4px;
        background-color: #d0021b;
        border-radius: 28.4px;
        margin-right: 4.5px;
    }

    .cart {
        width: 15px;
        height: 15px;
        margin: 5.80px;
    }

    .cart-number {
        width: 9px;
        height: 23px;
        font-family: FreightTextBook;
        font-size: 18px;
        text-align: left;
        color: #666666;
        margin-right: 72px;
    }

}
